<footer class="footer">
  <p>Síguenos en nuestras redes</p>
  <div class="footer-social">
    <a href="https://wa.me/59170000000" target="_blank">
      <img src="./assets/what.png" alt="WhatsApp" width="35px">
    </a>

    <a href="https://youtube.com" target="_blank">
      <img src="./assets/youtube.png" alt="YouTube" width="35px">
    </a>

    <a href="https://tiktok.com" target="_blank">
      <img src="./assets/tik.png" alt="TikTok" width="35px">
    </a>
  </div>

  <p>© 2025 Concierto & Músico – Todos los derechos reservados</p>
</footer>

