.navbar {
  background: var(--verde-oscuro);
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
}

.Botom {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

ul {
  display: flex;
  list-style: none;
  gap: 25px;
  padding: 0;
  margin: 0;
}

li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.mode{
    font-weight: bold;
    border-radius: 6px;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
}


@media (max-width: 768px) {
  .Botom {
    display: block; 
  }

  ul {
    display: none;          
    position: absolute;
    top: 60px;
    right: 10px;
    background: #002f6c;
    flex-direction: column;
    width: 180px;
    padding: 10px 0;
    border-radius: 8px;
  }

  ul.open {
    display: flex; 
    z-index: 1000;
  }

  li {
    padding: 12px 10px;
    text-align: center;
  }

  li a {
    display: block;
    width: 100%;
  }
}

