<app-header></app-header>
<app-menu></app-menu>
<body>
  <section id="servicios" class="services container">
    <div class="cards">
      <div class="card">
        <img src="./assets/Musicos.jpg" alt="Colocation">
        <h3>Musicos</h3>
                <h2>Datos del Concierto</h2>

<div *ngIf="concierto; else cargando">

  <p><strong>Título:</strong> {{ concierto.titulo }}</p>
  <p><strong>Artista:</strong> {{ concierto.artista }}</p>
  <p><strong>Fecha:</strong> {{ concierto.fecha }}</p>

</div>

<ng-template #cargando>
  <p>Cargando datos...</p>
</ng-template>


      </div>
      <div class="card">
        <img src="./assets/Songs.jpg" alt="Backup">
        <h3>Canciones</h3>
          
            
      </div>
    </div>
  </section>
</body>
<app-footer></app-footer>
