<app-header></app-header>
<app-menu></app-menu>
<body><section class="hero">
  <h1 class="title">Bienvenido al Concierto</h1>

  <img src="./assets/concierto.png" alt="Concierto" class="hero-img">

  <div class="center-buttons">
    <button class="btn-main" routerLink="/Guerra">Concierto</button>
    <button class="btn-main" routerLink="/Final">Contacto</button>
  </div>

  <!-- Redes sociales -->
  <div class="social-links">

    <a href="https://wa.me/59100000000" target="_blank">
      <img src="./assets/what.png" alt="WhatsApp">
    </a>

    <a href="https://youtube.com" target="_blank">
      <img src="./assets/youtube.png" alt="YouTube">
    </a>

    <a href="https://tiktok.com" target="_blank">
      <img src="./assets/tik.png" alt="TikTok">
    </a>

  </div>
</section>
</body>
<app-footer></app-footer>