<app-header></app-header>
<app-menu></app-menu>
<div class="contact-container">
  <h1>Contáctanos</h1>
  <div class="contact-card">
     
    <div class="contact-item">
      <h2>Correo</h2>
      <p>Puedes enviarnos un mensaje a:</p>
      <a href="mailto:yhoelencina@gmail.com" class="contact-link">Concierto</a>
    </div>

    <hr>
    <div class="contact-item">
      <h2>Redes Sociales</h2>
      <div class="social-links">

        <a href="https://www.facebook.com/yhoel.alvaro.encinas.cruz" target="_blank" class="social facebook">
          <img src="./assets/pngegg.png" width="20">
          Facebook
        </a>

        <a href="https://www.tiktok.com/@yhoel..27" target="_blank" class="social tiktok">
          <img src="./assets/tik.png" alt="TikTok">
          TikTok
        </a>

        <a href="https://www.instagram.com/yhoel_alvaro?igsh=bndicWpqOXF1OXo3" target="_blank" class="social instagram">
          <img src="./assets/ig.png" alt="Instagram">
          Instagram
        </a>

      </div>
    </div>
    <hr>
    <div class="contact-item">
      <h2>WhatsApp</h2>
      <p>Atención rápida por mensaje:</p>
      <a href="https://wa.me/59174215989" target="_blank" class="whatsapp-btn">
        Enviar mensaje por WhatsApp
      </a>
    </div>

  </div>
</div>
<app-footer></app-footer>