/* Contenedor principal */
.contact-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

/* Títulos */
h1 {
  font-size: 2.4rem;
  margin-bottom: 10px;
  color: var(--text-color);
}

.subtitle {
  font-size: 1.2rem;
  color: var(--text-color);
}

/* Tarjeta */
.contact-card {
  margin-top: 30px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 12px var(--text-color);
  background-color: var(--card-bg);
}

/* Items */
.contact-item {
  margin: 25px 0;
  color: var(--text-color);

}

.contact-link {
  color: #0066ff;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: bold;
}

.contact-link:hover {
  text-decoration: underline;
}

/* Redes sociales */
.social-links {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.social {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  padding: 10px 14px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
}

.social img {
  width: 25px;
}

/* Colores */
.facebook {
  background: #1877f2;
  color: white;
}

.tiktok {
  background: black;
  color: white;
}

.instagram {
  background: linear-gradient(45deg, #fcb045, #fd1d1d, #833ab4);
  color: white;
}

.social:hover {
  transform: scale(1.08);
}

/* WhatsApp */
.whatsapp-btn {
  display: inline-block;
  background: #25d366;
  padding: 12px 20px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s;
}

.whatsapp-btn:hover {
  transform: scale(1.08);
}

/* Responsive */
@media (max-width: 600px) {
  .contact-card {
    padding: 20px;
  }

  .social-links {
    flex-direction: column;
    gap: 15px;
  }
}
